form {
    background-color: rgb(38, 180, 123);
    width: 350px; 
    border-radius: 10px;
    border: 2px solid rgb(51, 51, 51);
    margin: auto;
    position: relative;
    top: 40px;
       
}

a {
    color: rgb(151, 30, 151);

}
.button {
   
    border: none;
    padding: 10px ;
    border-radius: 5px;
    background-color: rgb(76, 150, 76);
    cursor: pointer;
  
}